* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* to-do list */

body {
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
   
  }
  
  .dark-mode {
    background-color: black;
    color: white;
    
  }

#headermain
{
    width: 100%;
    background-size: cover;
    background-position: center;
}
.container1{
    padding: 10px 10%;
}

.logo
{
    width: 140px;
    margin-top: -40px;
}

header {
    font-size: 1.5rem;
}

header, 
form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-text
{
margin-top: 20%;
font-size: 30px;
}


.header-text h1{
    font-size: 60px;
    margin-top: 20%;
    margin-left: -73px;
}

.header-text h1 span{
    color:#ff004f;
}


form input, 
form button {
    padding: 0.5rem;
    padding-left: 1rem;
    font-size: 1.8rem;
    /* border: none; */
    background: white;
    border-radius: 2rem;
}

form button {
    color: rgb(255, 200, 0);
    background: white;
    cursor: pointer;
    transition: all 0.3 ease;
    margin-left: 0.5rem;
}

form button:hover {
    color: white;
    background: rgb(255, 200, 0);
}

.fa-plus-circle {
    margin-top: 0.3rem;
    margin-left: -8px;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style: none;
}

.todo {
    margin: 0.5rem;
    padding-left: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    border-radius: 2rem;
}

.todo li {
    flex: 1;
}

.trash-btn, 
.complete-btn {
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1.5rem;
}

.complete-btn {
    background: rgb(255, 200, 0);
}

.trash-btn {
    border-top-right-radius: 1.75rem;
    border-bottom-right-radius: 1.75rem;
    background: rgb(171, 171, 171);
}

.todo-item {
    padding: 0rem 0.5rem;
}

.fa-trash, 
.fa-check-circle {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.slide {
    transform: translateX(10rem);
    opacity: 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
    border-radius: 50px;
}

select {
    width: 10rem;
    height: 3.2rem;
    cursor: pointer;
    padding: 1rem;
}

.select::after {
    content: "\25BC";
    position: absolute;
    background:rgb(255, 200, 0);
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
}

.select::hover::after {
    background: white;
    color: rgb(255, 200, 0);
}


@media only screen and (max-width:600px)
{   
    #header{
        background-image: url(images/logo.jpeg);
    }
    #headermain
    {
    width: 100%;
    background-size: cover;
    background-position: center;
    }

    form input, form textarea{
        width: 100%;
        border: 0;
        outline:none;
        background: #262626;
        padding: 15px;
        margin: 15px 0;
        color: #fff;
        font-size: 18px;
        border-radius: 41px;
    }
    
    form select{
        padding: 10px 60px;
        font-size: 18px;
        margin-top: 0px;
        cursor: pointer;
    }

}


/* -----toggle----- */

.light-darkmode{
    margin-right: 64px;
    display: inline-block;
    top: 8px;
    right: 16px;
    font-size: 18px;
    position: absolute;
}

nav .logo-dark 
{
    display: none;
}
nav .logo-light
{
    display: none;
    font-size: 25px;
}

.switch {
    display: inline-block;
    width: 60px;
    height: 34px;
    top: 8px;
    right: 16px;
    font-size: 18px;
    position: absolute;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  #bottom {
    position: absolute;
    bottom: 10px;
    right: 6px;
    font-size: 13px;
    font-style: italic;
}
